In [23]:
x = 32
nom = " John"
print(nom,x)

 John 32

In [24]:
x = 32
nom = " John"
print(nom,'a',x,'ans')

 John a 32 ans

In [25]:
x = 32
nom = " John"
print ("{} a {} ans ". format (nom , x))

 John a 32 ans

In [26]:
x = 32
nom = " John"
bib= "{} a {} ans "
print(bib.format(nom , x))

 John a 32 ans

In [27]:
nb1 = 4500
nb2 = 2575
prop=( nb1 + nb2 )/14800
print ("On a {} G et {} C -> prop= {:.2f}".format(nb1 , nb2 , prop))

On a 4500 G et 2575 C -> prop= 0.48

In [28]:
print (f"On a { nb1 } G et { nb2 } C -> prop  = { prop:.2f}")# .2f =>2 chiffres aprés la virgule

On a 4500 G et 2575 C -> prop  = 0.48

In [29]:
a=["amine","ali","salah"]
for ele in a:
    print(ele)

amine
ali
salah

In [30]:
for i in range(len(a)):
    print(a[i])

amine
ali
salah

In [31]:
for i, ele in enumerate(a):
    print(i,"-->",ele)

0 --> amine
1 --> ali
2 --> salah

In [32]:
a="amine"
for i in  a:
    print(i)

a
m
i
n
e

In [33]:
for i, ele in enumerate(a):
    print(i,"-->",ele)

0 --> a
1 --> m
2 --> i
3 --> n
4 --> e

1.Exercice Palindrome : chaine vers liste

In [18]:
chaine=input("donner une chaine")
tableau=[]
for i in chaine :
     tableau.append(i)#ajoiuter le caractére  a la liste
for j in range(tableau.count(" ")):# 
    tableau.remove(" ") #supprimer les espaces
tableau2=tableau.copy()# faire une copie du tableau
tableau.reverse()  #inverser le tableau
print(tableau)
print(tableau2)
if(tableau==tableau):
    print("palin")
else :
    print("pas palin")

donner une chaineradar
['r', 'a', 'd', 'a', 'r']
['r', 'a', 'd', 'a', 'r']
palin

Palindrome :2.  inverser la chaine

In [34]:
chaine=input("donner une chaine")
chaine=chaine.replace(" ","")
print(chaine)
chaine2=chaine[::-1]
print(chaine)
print(chaine2)
if(chaine==chaine2):
    print("palind")
else :
    print("non palind")

donner une chaineradar
radar
radar
radar
palind

3. Palindrome

In [35]:
chaine=input("donner une chaine")
ok=True
n =len(chaine)
for i in range(n // 2):
    if chaine[i] != chaine[-i-1]:
        ok=False
        break
if(ok):
    print("palind")
else :
    print("non palind")

donner une chaineazza
palind

# LES LISTES

Création   :list()
Ajout      :append()|insert()|extend()
suppression:remove()|pop()|clear()|del
Operations :len()|sum()|max()|min()|count()|reverse()|sort()|sorted()
recherche  :index()
duplication:copy()

In [5]:
#L=list()
#L=[]
L1=list(range(5,16))

In [6]:
L1

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [7]:
len(L1)

11

In [8]:
#L=list("salut","hello","ali","omar")
L=["salut","hello","ali","omar",'hello']

In [9]:
L

['salut', 'hello', 'ali', 'omar', 'hello']

In [10]:
L[2]="anis"

In [11]:
L

['salut', 'hello', 'anis', 'omar', 'hello']

In [12]:
L.count ("hello")

2

In [13]:
L.sort()
print(L)

['anis', 'hello', 'hello', 'omar', 'salut']

In [45]:
L5 = [5,"ABC",3,"Z"]

In [14]:
L5.sort()

NameError: name 'L5' is not defined

In [15]:
L6 = [5,4,3,0]
L6.sort()
print(L6)

[0, 3, 4, 5]

In [16]:
L7 = [5,4,3,0]
L7.sort(reverse=True)
print(L7)

[5, 4, 3, 0]

In [17]:
 L.sort( reverse = True )
print(L)

['salut', 'omar', 'hello', 'hello', 'anis']

In [18]:
L.append("jean")
print(L)

['salut', 'omar', 'hello', 'hello', 'anis', 'jean']

In [19]:
L.insert (2,"sami")
print(L)

['salut', 'omar', 'sami', 'hello', 'hello', 'anis', 'jean']

In [20]:
L.extend("world")# elemnt ajouter doit etre un sequence
print(L)

['salut', 'omar', 'sami', 'hello', 'hello', 'anis', 'jean', 'w', 'o', 'r', 'l', 'd']

In [21]:
lista=L.copy()

In [22]:
lista.extend([1,3])
print(lista)

['salut', 'omar', 'sami', 'hello', 'hello', 'anis', 'jean', 'w', 'o', 'r', 'l', 'd', 1, 3]

In [23]:
L.remove("jean")
print(L)

['salut', 'omar', 'sami', 'hello', 'hello', 'anis', 'w', 'o', 'r', 'l', 'd']

In [24]:
del (L[1])
print(L)

['salut', 'sami', 'hello', 'hello', 'anis', 'w', 'o', 'r', 'l', 'd']

In [25]:
del(L[2:5])

In [26]:
L

['salut', 'sami', 'w', 'o', 'r', 'l', 'd']

In [27]:
L2=L.copy()
print(L2)

['salut', 'sami', 'w', 'o', 'r', 'l', 'd']

In [28]:
L2.reverse()
print(L2)

['d', 'l', 'r', 'o', 'w', 'sami', 'salut']

In [29]:
print(max(L2))

w

In [30]:
print(min(L2))

d

In [31]:
L3=["salut","hello","ali","omar",'hello']

In [32]:
L3.pop()#=>supprime le dernier element
print(L3)

['salut', 'hello', 'ali', 'omar']

In [33]:
v=L3.pop(2)# supprime et affiche ali 
print(L3)
print(v)

['salut', 'hello', 'omar']
ali

In [34]:
"salut" in L3

True

In [35]:
L3.index("hello")# l'indice de hello dans la liste

1

In [37]:
list=[1,"ab",[1,True]] # liste imbriquee

In [38]:
 list[2]

[1, True]

In [39]:
list = [input(),input(),input()]

1
2
3

In [40]:
list

['1', '2', '3']

In [41]:
list=[x for x in input("entrer des valeurs speraees par virgule").split(",")] # Taper <Enter>

entrer des valeurs speraees par virgule1,2,3

In [42]:
list

['1', '2', '3']

In [43]:
list=[int(x) for x in input("entrer des valeurs speraees par virgule").split(",")] # Taper <Enter>

entrer des valeurs speraees par virgule1,2,3

In [44]:
list

[1, 2, 3]

Tuples: (itérables, ordonnés indexables, non modifiable( immutable))¶

In [73]:
t = (1, 2, 3)

In [74]:
t[2]

3

In [75]:
t[0:2]

(1, 2)

In [76]:
 t = t + (2 ,)

In [77]:
t

(1, 2, 3, 2)

In [78]:
tuple ([1 ,2 ,3])

(1, 2, 3)

In [79]:
tuple ("ATGCCGCGAT ")

('A', 'T', 'G', 'C', 'C', 'G', 'C', 'G', 'A', 'T', ' ')

# Les Chaines

In [66]:
st = "langage python"

In [67]:
print(len(st))

14

In [68]:
st.replace("python","R")

'langage R'

In [69]:
i = st.find("langage") # on cherche  l'indice "langage" dans st
print(i)

0

In [70]:
s = "salut, Je m'appelle Bob..."

In [71]:
print(s.lower())

salut, je m'appelle bob...

In [72]:
print(s.upper())

SALUT, JE M'APPELLE BOB...

In [73]:
print(s.capitalize())#la premiére lettre en maj

Salut, je m'appelle bob...

In [74]:
s = "abracadabra"
print(s.count("bra"))

2

In [75]:
s = "un;deux;trois"

In [76]:
s.split(";")

['un', 'deux', 'trois']

In [77]:
mot=s.split(";")
print(mot)
print(s)

['un', 'deux', 'trois']
un;deux;trois

In [78]:
s2 = "-".join(mot) # concaténation des éléments de mots séparés par ";"
print(s2) # affiche trois;deux;un

un-deux-trois

In [79]:
chaine = " Bonjour monsieur le capitaine !"

In [80]:
chaine.startswith (" Bonjour ")

True

In [81]:
chaine.endswith ("ne !")

True

In [82]:
chaine[0].upper()+chaine[1:] #chaine.capitalize()

' Bonjour monsieur le capitaine !'

In [83]:
chaine ="    Comment enlever les espaces au dé but et à la fin ?"

In [84]:
chaine.strip()

'Comment enlever les espaces au dé but et à la fin ?'

In [85]:
print("abc".isalpha())# voir aussi s.isdigit(), s.isalnum(), s.isnumeric()...

True

In [86]:
s = input("Rentrez 5 nombres entiers, séparés par des espaces ")
t = s.split()
print(t)

Rentrez 5 nombres entiers, séparés par des espaces 1 2 3 4 5
['1', '2', '3', '4', '5']

2 dictionnaire

In [87]:
ani1 = {}
ani1 [" nom "] = " girafe "
ani1 [" taille "] = 5.0
ani1 [" poids "] = 1100
print(ani1)

{' nom ': ' girafe ', ' taille ': 5.0, ' poids ': 1100}

In [45]:
dico={} # dictionnaire vide

In [46]:
dico["computer"] ="ordinateur"
dico["mouse"]="souris"
dico["keyboard"] ="clavier"
print(dico)

{'computer': 'ordinateur', 'mouse': 'souris', 'keyboard': 'clavier'}

In [47]:
 print(dico.keys())

dict_keys(['computer', 'mouse', 'keyboard'])

In [48]:
print(dico.values())

dict_values(['ordinateur', 'souris', 'clavier'])

In [49]:
del dico["mouse"]

In [50]:
print(dico)

{'computer': 'ordinateur', 'keyboard': 'clavier'}

In [51]:
 print(len(dico))

2

In [56]:
dico.__contains__("computer")

True

In [57]:
print(dico.items())

dict_items([('computer', 'ordinateur'), ('keyboard', 'clavier')])

In [58]:
for clef in dico:
    print(clef)

computer
keyboard

In [59]:
for clef in dico:
   print (clef, dico[clef])

computer ordinateur
keyboard clavier

In [60]:
for clef, value in dico.items():
    print(clef, value)

computer ordinateur
keyboard clavier

In [61]:
dico2={"ordinateur":"computer", "souris" : "mouse"}

In [62]:
print(dico2)

{'ordinateur': 'computer', 'souris': 'mouse'}

In [63]:
dico2=dico

In [64]:
print(dico)

{'computer': 'ordinateur', 'keyboard': 'clavier'}

In [65]:
del dico2["computer"]

In [66]:
print(dico)

{'keyboard': 'clavier'}

In [67]:
print(dico2)

{'keyboard': 'clavier'}

In [68]:
 dico3=dico.copy() # dico3 est une copie du dictionnaire reference par dico!

In [70]:
del dico3["keyboard"]

In [71]:
 print(dico)

{'keyboard': 'clavier'}

In [72]:
print(dico3)

{}

set :modifiables, non ordonnés, non indexables et de ne contenir qu’une seule copie maximum de chaque élément.

pas de doublon

In [88]:
s = {4, 5, 5, 12}
s

{4, 5, 12}

- non ordonnés

In [89]:
s = {3, 4, " Plouf ", (1, 3)}
s

{' Plouf ', (1, 3), 3, 4}

La fonction interne à Python set() convertit un objet itérable passé en argument en un nouveau set (opération de casting) :

In [90]:
print(set ([1 , 2, 4, 1]))
print(set ((2 , 2, 2, 1)))
print(set ( range (5)))
print(set ({" clé_1 ": 1, "clé_2 ": 2}))
print(set ([" ti", "to", "to "]))
print(set (" Maître corbeau sur un arbre perché"))

{1, 2, 4}
{1, 2}
{0, 1, 2, 3, 4}
{' clé_1 ', 'clé_2 '}
{'to', ' ti', 'to '}
{'s', 'b', 'o', 'é', ' ', 'M', 'e', 't', 'n', 'î', 'p', 'u', 'h', 'a', 'r', 'c'}

les sets ne sont pas ordonnés ni indexables, il est donc  impossible de récupérer un élémen par sa position. Il est également impossible de modifier un de ses éléments par l’indexation.

In [91]:
s = set ([1 , 2, 4, 1])
s [1]

TypeError: 'set' object is not subscriptable

Par contre, les sets sont itérables :

In [92]:
for element in s:
    print ( element )

1
2
4

Les sets ne peuvent être modifiés que par des méthodes spécifiques.

In [93]:
s = set( range (5))
print(s)
s. add (4)
print(s) 
s.add (472)
print(s) 
s. discard (0)
print(s)

{0, 1, 2, 3, 4}
{0, 1, 2, 3, 4}
{0, 1, 2, 3, 4, 472}
{1, 2, 3, 4, 472}

Les sets ne supportent pas les opérateurs + et *.

- Utilité :

Les containers de type set sont très utiles pour rechercher les éléments uniques d’une suite d’éléments. Cela revient à éliminer tous les doublons

In [94]:
import random
liste = [ random . randint (0, 9) for i in range (10)]
print(liste)
print(set( liste ))

[1, 1, 7, 3, 3, 4, 4, 3, 2, 1]
{1, 2, 3, 4, 7}

In [95]:
list ( set ([7 , 9, 6, 6, 7, 3, 8, 5, 6, 7]))

[3, 5, 6, 7, 8, 9]

In [96]:
seq1="atctcgatcgatcgcgctagctagctcgccatacgtacgactacgt"
set(seq1)

{'a', 'c', 'g', 't'}

Les sets permettent aussi l’évaluation d’union ou d’intersection mathématiques en conjonction avec les opérateurs respectivement | et & :

In [97]:
liste_1 = [3, 3, 5, 1, 3, 4, 1, 1, 4, 4]
liste_2 = [3, 0, 5, 3, 3, 1, 1, 1, 2, 2]
set ( liste_1 ) | set ( liste_2 )

{0, 1, 2, 3, 4, 5}

In [98]:
set ( liste_1 ) & set ( liste_2 )

{1, 3, 5}

ou

In [99]:
s1 = {1, 3, 4, 5}
s2 = {0, 1, 2, 3, 5}
s1.union (s2)

{0, 1, 2, 3, 4, 5}

In [100]:
s1. intersection (s2)

{1, 3, 5}

L’instruction s1.difference(s2) renvoie sous la forme d’un nouveau set les éléments de s1 qui ne sont pas dans s2. Et vice-versa pour s2.difference(s1)

In [101]:
s1. difference (s2)

{4}

In [102]:
s2. difference (s1)

{0, 2}

La méthode .issubset() indique si un set est inclus dans un autre set. La méthode isdisjoint() indique si un set est disjoint d’un autre set, c’est-à-dire, s’ils n’ont aucun élément en commun indiquant que leur intersection est nulle.

In [103]:
s1=set( range (10))
s2=set( range (3, 7))
s3=set( range (15 , 17))
print(s1)
print(s2)
print(s3)
s2. issubset (s1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6}
{16, 15}

True

In [104]:
s3. isdisjoint (s1)

True

Frozensets

Les frozensets sont des sets non modifiables. Ainsi, un set peut contenir des frozensets mais pas l’inverse. A quoi servent-ils ? Comme la différence entre tuple et liste, l’immutabilité des frozensets donne l’assurance de ne pas pouvoir les modifier par erreur. Pour créer un frozenset on utilise la fonction interne frozenset() qui prend en argument un objet itérable et le convertit (opération de casting) :

In [105]:
f1 = frozenset ([3 , 3, 5, 1, 3, 4, 1, 1, 4, 4])
f2 = frozenset ([3 , 0, 5, 3, 3, 1, 1, 1, 2, 2])
print(f1)
print(f2)

frozenset({1, 3, 4, 5})
frozenset({0, 1, 2, 3, 5})

Les frozensets ne possèdent bien sûr pas les méthodes de modification des sets (.add(), .discard(), etc.) puisqu’ils sont non modifiables. Par contre, ils possèdent toutes les méthodes de comparaisons de sets (.union(), .intersection(), etc.).

In [106]:
f1.add (5)

AttributeError: 'frozenset' object has no attribute 'add'

In [107]:
f1. union (f2)

frozenset({0, 1, 2, 3, 4, 5})

In [108]:
f1. intersection (f2)

frozenset({1, 3, 5})

2.	Tableau a une dimenssion

In [136]:
taille=int(input("entrer la tailledu tableau\n"))
T1=[]
for i in range(taille):
    a=int(input("entre une valeur \n"))
    T1.append(a)
print(T1)

entrer la tailledu tableau
3
entre une valeur
1
entre une valeur
2
entre une valeur
3
[1, 2, 3]

In [137]:
taille=int(input("entrer la tailledu tableau\n"))
T1=[None]*taille
for i in range(taille):
    T1[i]=int(input("entre une valeur \n"))
print(T1)

entrer la tailledu tableau
3
entre une valeur
1
entre une valeur
2
entre une valeur
3
[1, 2, 3]

3.	Tableau deux dimension
Saisi et affichage

In [138]:
N=[]
for i  in range(2):
    ligne=[]
    for j in range(3):
        print('N[',i,'][',j,']=',end=" ")
        ligne.append(int(input()))
    N.append(ligne)
print(N)

N[ 0 ][ 0 ]= 1
N[ 0 ][ 1 ]= 2
N[ 0 ][ 2 ]= 3
N[ 1 ][ 0 ]= 4
N[ 1 ][ 1 ]= 5
N[ 1 ][ 2 ]= 6
[[1, 2, 3], [4, 5, 6]]